.expenses-filter {
    color: white;
    padding: 0 1rem;
}

.newExpense_form{
    background-color: #f8dfff;
    padding: 1rem;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.expenses-filter_form input {
    font-size:1.1rem;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 0.5rem; 
    padding: 0.5rem 0.5rem;
}
.expenses-filter_form label {
    font-weight: bold;
    border-radius: 6px;
    font-size:1.3rem;
    margin-bottom: 0.5rem;  
}

.expenses-filter_form select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

.newExpense_action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newExpense_action button{
    background-color: rgb(197, 181, 171);
    font: inherit;
    font-size: 2rem;
    padding: 0.1rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

.newExpense_action button:hover{
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 30px rgb(133, 116, 134);
}
